html,body {
  height:100%;
  overflow-x:hidden;
  margin:0;
  padding:0;
  max-width:100%;
  font-family: 'Inter', sans-serif;
  text-align: center;
  background-color: white;
}

.navbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: sticky;
}

.logo {
  max-height: 150px;
  margin: 10px;
  top: 0;
  left: 0;
}

.CJlogo {
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -170px;
  padding-bottom: 10px;
}

.navbar-links ul{
  margin:0;
  padding:0;
  display:flex;
}
.navbar-links li{
  list-style: none;
}
.navbar-links li a{
  text-decoration: none;
  color:black;
  padding:2rem;
  display:block;
  font-size: 20px;
  font-family: Arial;
}

.toggle-button{
  position:absolute;
  top:2.0rem;
  right:1rem;
  display:none;
  flex-direction:column;
  justify-content: space-between;
  width:40px;
  height:32px;
  margin-top: 30px;
  margin-right: 40px;
}

.toggle-button .bar{
  height:3px;
  width:100%;
  background-color: white;
  border-radius: 10px;
}

.toggle-button{
  display:flex
}

.navbar-links{
  display:none;
  width:100%;
}

.navbar{
  flex-direction:column;
  align-items:flex-start;
}

.navbar-links ul{
  width:100%;
  flex-direction:column;
}

.navbar-links li{
  text-align: center;
}

.navbar-links li a{
  padding: 1rem 1rem
}

.navbar-links.active{
  display:flex;
  background-color: white;
}

.navpic{
  height:100px;
  width:auto;
}

.thegearpano {
  position: relative;
  text-align: center;
  color: white;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.thegearpano-img {
  width: 100%;
  opacity: 0.8;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.thegearpano-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thegearpano-info h1 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 4vw;
  font-weight: 650;
  letter-spacing: -2px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.thegearpano-info h4 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

@media (max-width:600px) {
  .thegearpano-info h1 .thegearpano-info h4{
    font-size: 3vw;
  }
}

.sonya7 {
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
  align-items: center;
  justify-content: space-evenly;
}

.sonya7-img img{
  max-width: 550px;
}

.sonya7-img:hover {
  transform: scale(1.05);
}

.sonya77 {
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
  align-items: center;
  justify-content: space-evenly;
}

.sonya77-img img {
  max-width: 550px;
}

.sonya77-img:hover {
  transform: scale(1.05);
}

.nikonf80 {
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
  align-items: center;
  justify-content: space-evenly;
}

.nikonf80-img img{
  max-width: 550px;
}

.nikonf80-img:hover {
  transform: scale(1.05);
}

.mavicair {
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
  align-items: center;
  justify-content: space-evenly;
}

.mavicair-img img {
  max-width: 600px;
}

.mavicair-img:hover {
  transform: scale(1.05);
}

.gopro {
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
  align-items: center;
  justify-content: space-evenly;
}

.gopro-img img{
  max-width: 500px;
}

.gopro-img:hover {
  transform: scale(1.05);
}
